<div class="card-transparent border-dark mb-3 mx-auto col-md-4 py-3 shadow-sm rounded">

<h2>YOUR JOURNEY STARTS HERE <i class="fas fa-running"></i></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name,
              autofocus: true %>
    <%= f.input :last_name %>
    <%= f.input :about_me %>
    <%= f.input :email,
                required: true,
                # autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up to Kym's Gyms!" %>
  </div>
<% end %>

<!-- Removed erb render "devise/shared/links" -->
</div>
