<h1><%= @user.first_name %></h1>
<h2> <%= @user.about_me %> </h2>
<% @user.bookings.each do |booking| %>
  <li><%= booking.start_time %></li>
  <li><%= booking.end_time %></li>
  <li><%= booking.trainer[:level] %></li>
  <li><%= booking.trainer[:price] %></li>
  <li><%= booking.trainer[:discipline] %></li>
  <li><%= booking.trainer.user[:first_name] %></li>
  <li><%= booking.trainer.user[:last_name] %></li>
<% end %>

