<div class="card mx-auto col-md-6">

   <div class="card-horizontal">
  <% @trainers.each do |trainer| %>
      <div class="card-body">
        <div class="card-header">
          <h1 class="list-name"><%= link_to trainer.user.first_name, new_trainer_booking_path(trainer) %></h1>
        </div>
        <%= photo_for(trainer.user) %>
        <p class="card-title"><%= trainer.about_me %></p>
        <p class="card-text"><%= trainer.level %></p>
        <p class="card-text"><%= trainer.price %></p>
        <p class="card-text"><%= trainer.discipline %></p>
        </div>
      <% end %>
      <%= link_to "Become a Trainer", new_trainer_path(@user), class: "btn btn-primary col-4"%>
<h2><%= link_to "Back to Home", root_path, class: "btn btn-dark" %></h2>
    </div>
