<!-- <h2><%= link_to "Become a Trainer", new_trainer_path(@user), class: "btn btn-primary col-4"%></h2> -->
<!-- <h2><%= link_to "Back to Home", root_path, class: "btn btn-dark" %></h2> -->

<div class= "box">
  <h1 class= "text-center">Say Hi To Your Trainers!</h1>
    <div class="container mx-auto">
        <!-- <div class="card-horizontal mx-auto col-md-6 card-column">
        <div class="card-body border rounded-4 mb-2 text-center"> -->
        <!-- <img src="..." class="card-img-top" alt="..."> -->
          <% @trainers.each do |trainer| %>
          <div class="card">
            <div class="card-body">
               <h1 class="card-title"><%= link_to trainer.user.first_name, trainer_path(trainer) %></h1>
                <p class="card-text"><strong>About Me:</strong> <%= trainer.about_me %></p>
                <p class="card-text"><strong>Level:</strong> <%= trainer.level %></p>
                <p class="card-text"><strong>Discipline:</strong> <%= trainer.discipline %></p>
                <h3 class="card-text"> $<%= trainer.price %></h3>
                <%= link_to "Book me", new_trainer_booking_path(trainer), class: "btn btn-dark ml-auto p1 btn-xs" %>
            </div>
          </div>
        <% end %>
    </div>
  </div>
  <!--     </div>
    </div> -->
