<div class= "box">
  <h1 class= "text-center">Say Hi To Your Trainers!</h1>
    <%= render "searchform" %>
    <div class="container mx-auto">
      <% @trainers.each do |trainer| %>
      <% if trainer.user != current_user %>
        <div class="card shadow-sm">
          <div class="card-body">

              <h2 class="card-title">
                <%= link_to trainer.user.first_name, trainer_path(trainer) %>
                <%= photo_for(trainer.user) %>
              </h2>

            <div class="card-info">

              <p class="card-text">
                <strong>About Me:</strong>
                <%= trainer.about_me %>
              </p>

              <p class="card-text">
                <strong>Level:</strong>
                <%= trainer.level %>
              </p>

              <p class="card-text">
                <strong>Discipline:</strong>
                <%= trainer.discipline %>
              </p>

              <h3 class="card-text">
                $<%= trainer.price %>
              </h3>

              <%= link_to "Book me", new_trainer_booking_path(trainer),
                  class: "btn btn-dark ml-auto p1 btn-xs" %>
            </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>

