<h1>Trainer X</h1>
<%= @trainer.level %>
<%= @trainer.discipline %>
<%= @trainer.price %>
<%= @trainer.about_me %>

<h2><%= link_to "Add New Booking", new_trainer_booking_path(@trainer), class: "btn btn-warning" %></h2>
<hr>
